*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #f4f4f4;
    --dark-blue: #161f3d;
    --light-blue: #2872af;
    --color-pink: #96205b;
    --color-green: #207720;
}

a{
    text-decoration: none;
    display: inline-block;
}

body{
    background-color: var(--color-gray);
    color: var(--color-black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

main.container{
    width: 90%;
    margin: 0 auto;
}

header{
    padding: 1.25rem 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    color: var(--color-black);
}

nav .logo a span{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}
nav .nav-links ul{
    list-style: none;
    display: flex;
}

nav .nav-links ul li:not(:last-of-type){
    margin-right: 2rem;
}

nav .nav-links ul li a{
    color: var(--color-black);
    transition: color .3s ease-in;
    position: relative;
}
nav .nav-links ul li a:hover{
    color: #191919;
    /* transition: color .3s ease-in; */
    /* position: relative; */
}

nav .nav-links ul li a:hover::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-pink);
    position: absolute;
    right: -10px;
}

nav .button-container a{
    color: var(--color-gray);
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    background-color: var(--dark-blue);

}